.logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 1px solid #05f8a7f3;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}
.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  background-color: #879b88;
}
.alif {
  width: 12px;
  height: 40px;
  background-color: #1c1d1c;
  border-radius: 10px;
  position: relative;
}
.ba {
  width: 20px;
  height: 20px;
  background-color: #05f8a7f3;
  border-radius: 50%;
  position: relative;
  margin-left: -6px;
  top: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.links ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  border: 1px solid #05f8a7f3;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
