.footer-container {
  background: teal;
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: white;
  height: 150px;
  max-width: 1400px;
}
@media (max-width: 768px) {
  .footer-container {
    max-width: 100%;
  }
}
